version: 2.1

jobs:
  build:
    docker:
      - image: 'circleci/node'
    steps:
      - checkout
      - run:
          name: Install dependencies and build project
          command: npm install
      - sonarcloud/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.0

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
